<div class="col-md-2">
        <!-- BEGIN PORTLET -->
        <div class="portlet light blue ">
            <!--           <div class="row ">-->

            <div class="input-group ">
                <span class="input-group-addon">%</span>
                <input type="number" class=" form-control col-md-1" placeholder="remise" /> 
            </div>
            <div class="input-group ">
                <span class="input-group-addon">£</span>
                <input type="number" class=" form-control col-md-1" placeholder="remise"/> </div>
            <!--           </div>-->
            <br>
            <div class="row">
                <button type="button" class="col-md-3 btn blue btn-md">9</button>
                <button type="button" class="col-md-3 btn blue btn-md">8</button>
                <button type="button" class="col-md-3 btn blue btn-md">7</button>
                <button type="button" class="col-md-3 btn blue btn-md">R.%</button>
            </div>
            <br>
            <div class="row">
                <button type="button" class="col-md-3 btn blue btn-md">6</button>
                <button type="button" class="col-md-3 btn blue btn-md">5</button>
                <button type="button" class="col-md-3 btn blue btn-md">4</button>
                <button type="button" class="col-md-3 btn blue btn-md">R.€</button>
            </div>
            <br>
            <div class="row">
                <button type="button" class="col-md-3 btn blue btn-md">3</button>
                <button type="button" class="col-md-3 btn blue btn-md">2</button>
                <button type="button" class="col-md-3 btn blue btn-md">1</button>
                <button type="button" class="col-md-3 btn blue btn-md">*</button>
            </div>
            <br>
            <div class="row">
                <button type="button" class="col-md-3 btn blue btn-md">0</button>
                <button type="button" class="col-md-3 btn blue btn-md">.</button>
                <button type="button" class="col-md-3 btn blue btn-md">-</button>
                <button type="button" class="col-md-3 btn blue btn-md">^</button>
            </div>
            <br>
            <div class="row">
                <button type="button" class="col-md-6 btn blue btn-md">C</button>
                <button type="button" class="col-md-6 btn blue btn-md">CE</button>
            </div>
            <br>
            <div class="row">
                <button type="button" class="col-md-6 btn blue btn-md">=</button>
                <button type="button" class="col-md-6 btn blue btn-md">****</button>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>