<div id="list_att" class="modal fade list_att" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="margin-top:30px;">
                    <div class="row">
                        <ul ng-repeat="item_att in tab_items_att">
                            <li>{{item_att.nom}} <button ng-click="charger_attente(item_att)" type="button" class="btn purple">
                                    cherger item<i class="fa fa-check"></i></button>
                            </li>                                  
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>