<style>
    body{ margin-top:50px;}
    .badgeCount{
        margin-top: 2px !important;
    }
    .nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
    .tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
    .tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
    .tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
    .tab-pane .list-group input[type="checkbox"]{     margin-top: 7px; margin-left: -11px; }
    .tab-pane .list-group .glyphicon { margin-right:5px; }
    .tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
    a.list-group-item.read { color: #222;background-color: #F3F3F3; }
    hr { margin-top: 5px;margin-bottom: 10px; }
    .nav-pills>li>a {padding: 5px 10px;}
    .unread {
        font-weight: bold;
        color: #222;
        background: rgba(255,255,255,.9);
    }
    read {

        background: rgba(243,243,243,.85);
        color: #222;
    }
    .ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
    .ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
    .ad a.url {color: #093;text-decoration: none;}
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<!--<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Liste Commandes </li>
</ul>-->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a>
                </div>
                <div class="caption">
                    <i class="fa fa-cogs"></i>Boîte de réception </div>
                <div class="actions">
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Gestion commerciale
                    </a>
                    <!--                    <a href="#/ajout-commande" class="btn btn-default btn-sm">
                                            <i class="fa fa-plus"></i> Créer 
                                        </a>-->
                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a>
                    <!--                    <a href="javascript:;" class="btn btn-default btn-sm">
                                            <i class="fa fa-print"></i> Print </a>-->
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Mail <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Boite de réception</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Liste des tâches</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh">
                            <span class="glyphicon glyphicon-refresh"></span>   </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Plus <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Tout</a></li>
                                <li><a href="#">Rien</a></li>
                                <li><a href="#">lu(s)</a></li>
                                <li><a href="#">non lu(s)</a></li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <span class="text-muted"><b>1</b>–<b>50</b> of <b>277</b></span>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3 col-md-2"> 
                        <a href="#/envoi-mail" class="btn btn-danger btn-sm btn-block" role="button">CRÉER</a>
                        <hr />
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#/mailbox" ng-controller="MailboxController">
                                    <span class="badge pull-right badgeCount" ng-if="countUnread > 0">{{countUnread}}</span> 
                                    Boite de réception 
                                </a>
                            </li>
                            <li><a href="#/important">Important(s)</a></li>
                            <li><a href="#/sended">Éléments envoyés</a></li>
                            <li class="active"><a href="#/draft"><span class="badge pull-right">3</span>Brouillon(s)</a></li>
                            <li><a href="#/trash"><span class="badge pull-right">3</span>Corbeille</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:;" data-toggle="tab">
                                    <span class="glyphicon glyphicon-inbox"></span>Corbeille
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <div class="list-group" ng-repeat="message in inbox" style="margin-bottom: 2px;">
                                    <a href="#" class="list-group-item {{message.Message.state}}">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="fa fa-envelope" ng-if="message.Message.state == 'read'"></span>
                                        <span class="fa fa-envelope-o" ng-if="message.Message.state == 'unread'"></span>
                                        <span class="name" style="min-width: 120px; display: inline-block;">{{message.Message.mail_from}}</span> <span class="">{{message.Message.subject}}</span>
                                        <span class="text-muted" style="font-size: 11px;"></span> <span class="badge">{{message.Message.created}}</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <!-- END EXAMPLE TABLE PORTLET--> 
        </div>
    </div>

    <script>
        setTimeout(function () {
            //        console.clear();
        }, 1000);
    </script>
    <!--<script>
        TableDatatablesManaged.init();
    </script>-->
    <!-- END MAIN JS -->