<!-- BEGIN PAGE BREADCRUMB -->
<!--<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Liste Commandes </li>
</ul>-->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a>
                </div>
                <div class="caption">
                    <i class="fa fa-cogs"></i>Présence Employee
                </div>
                <div class="actions">
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <a href="#/gestion-employees" class="btn btn-default btn-sm" ng-click="exportDataemploye()">
                        <i class="fa fa-align-right"></i> Export To Excel
                    </a>
                    <a class="no-print btn btn-success btn-sm" style="margin-right: 10px;background-color: transparent;border-color: #fff;" ng-controller="ModalEmailCtrl" ng-click="open()"><i class="fa fa-send-o"></i> Envoyer par mail </a>


                    <a href="#/simulateur" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Simulateur de Paie
                    </a>
                    <a href="#/salaire" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Salaire
                    </a>
                    <a href="#/add-employee" class="btn btn-default btn-sm">
                        <i class="fa fa-plus"></i> Créer
                    </a>

                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="clearfix"></div>



                <div ng-app ng-controller="Ctrl">
                    <h4>Présence du "{{date| date:'yyyy-MM-dd'}}"</h4>  

                </div>

                <div class="clearfix"></div>
                <div id="tableId">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>{{date| date:'dd-MM-yyyy'}}</th>
                                <th colspan='2'>MATIN</th>
                                <th colspan='2'>APRES MIDI</th>
                            </tr>
                            <tr>
                                <th>Nom & Prénom</th> 
                                <th>Entrée</th>
                                <th>Sortie</th>
                                <th>Entrée</th>
                                <th>Sortie</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr> 
                                <td> {{Auth}}   </td>
                                <td> <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="time" name="wakeup" id="entree" /> </div>
                                    </div> </td>
                                <td> <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="time" name="wakeup" id="sortie"/> </div>
                                    </div> </td>
                                <td> <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="time" name="wakeup" id="entree_midi" /> </div>
                                    </div> </td>
                                <td> <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="time" name="wakeup" id="sortie_midi" /> </div>
                                    </div> </td>

                            </tr>


                        </tbody>


                    </table>
                    <div class="clearfix"></div>
                    <div class="form-actions"> 
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn purple" ng-click="pointage($event)" style="float: right">
                                    <i class="fa fa-check"></i> Pointer</button>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>
</div>
<!--     <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>-->
