<style>
    .input-group .select2-container--bootstrap{
        width: 100% !important;
    }
    .custom-combobox {
        position: relative;
        display: inline-block;
        width: 90% !important;
    }
    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }
    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 100%;
    }
</style>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green-turquoise">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a>
                </div>
                <div class="caption">
                    <div id="breadcrumb">
                        <ul>
                            <li class="first"><a href="#" title="Demande de prix"><strong>Demande de prix</strong></a><span class="end">&nbsp;</span></li>
                            <!--<li><a href="#" title="Back to item 2">item 2</a><span class="end">&nbsp;</span></li>-->
                            <li><span style="color: #aaa"><strong>Commande d'achat</strong></span><span class="end">&nbsp;</span></li> 
                            <li><span style="color: #aaa"><strong>Confirmer commande</strong></span><span class="end">&nbsp;</span></li> 
                            <li><span style="color: #aaa"><strong>Bon de réception</strong></span><span class="end">&nbsp;</span></li>
                            <li><span style="color: #aaa"><strong>Facture d'achat</strong></span><span class="end">&nbsp;</span></li>
                        </ul>
                    </div>
                </div> 
                <div class="actions">
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Gestion commerciale
                    </a>
                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered">
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">Fournisseur</label>
                        <div class="col-sm-8" ng-controller="FournisseurController">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <custom-select-fournisseur-achat class="col-md-10" item='name' change-event="change()" />
<!--                                <select class="form-control input-xlarge select2me col-sm-12" data-placeholder="Select Fournisseur..." id="fournisseurID">
                                    <option value=""></option>
                                    <option value="{{item.Fournisseur.id}}" ng-repeat="item in fournisseurs">{{item.Fournisseur.name}}</option>
                                </select>-->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-2" style="height: 25px;"></div>
                    <div class="form-group col-sm-12">
                        <table class="table table-striped">
                            <thead class="title-tab"> 
                                <tr>
                                    <td>
                                        <div class="col-sm-12" style="padding-left: 0;" ng-controller="ProductsController">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </span>
                                                <div class="ui-widget" id="costomProductFournisseur">
                                                    <select id="combobox" ng-model="ChangeProductachat" ng-change="productAchat()">
                                                        <option value="">Select Product...</option>
                                                        <!--<option value="{{item.Product.id}}" data-price="{{item.Product.prix_achat}}" ng-repeat="item in products" ng-if="item.Product.fournisseur_id == choixFournisseur">{{item.Product.name}}</option>-->
                                                        <!--<option>Ajouter et modifier...</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12" style="padding-left: 0;">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                                <input type="number" min="1" id="Qte" placeholder="Quantité" name="Quantité" class="form-control" /> </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12" style="padding-left: 0;"> 
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                                <input type="number" min="0" disabled id="QteReçue" placeholder="Qte Reçue" value="0" name="QteReçue" class="form-control" /> </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12" style="padding-left: 0;"> 
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                                <input type="number" min="0" disabled id="Remise" placeholder="Remise" value="0" name="Remise" class="form-control" /> </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12" style="padding-left: 0;"> 
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                                <input type="number" min="0" disabled  value='0' id="Prix_Unitaire" placeholder="Prix Unitaire" name="Prix Unitaire" class="form-control" /> </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-1 col-md-1" style="float: right;position: relative;">
                                            <addbuttonscommandeachat></addbuttonscommandeachat>
                                        </div>
                                    </td>
                                </tr>
                                <tr> 
                                    <th>Article</th>
                                    <th>QTE demandée</th>
                                    <th>Qte reçue</th>
                                    <th>Remise</th>
                                    <th>Prix Unitaire</th>
                                    <th>Action</th> 
                                </tr> 
                            </thead> 
                            <tbody id="commande-produit"></tbody> 
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn purple" ng-click="ajoutCommandeAchat($event, 1)" style="float: right">
                                    <i class="fa fa-check"></i> Ajout</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="form_modal2" class="modal fade" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Datepickers In Modal</h4>
                            </div>
                            <div class="modal-body">
                                <form action="#" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Date D'Echéance</label>
                                        <div class="col-md-8">
                                            <div class="input-group input-medium date date-picker" data-date="" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                <input type="text" class="form-control" readonly>
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<!-- END MAIN CONTENT -->
<script>
//    ComponentsDateTimePickers.init();
//    $("#combobox :selected").bind("change", function () {
//        setTimeout(function () {
//            var price_achat = parseFloat($("#combobox :selected").attr('data-price')).toFixed(3);
//            $("#Prix_Achat").val(price_achat);
//        }, 300);
//    });
    setTimeout(function () {
        $('#DateEcheance').datepicker({dateFormat: "yy-mm-dd"});
        setTimeout(function () {
            $("input.custom-combobox-input").attr("ng-model", "Product");
            $("input.custom-combobox-input").attr("ng-change", "AddModifProduct()");
        }, 1500);
        (function ($) {
            $.widget("custom.combobox", {
                _create: function () {
                    this.wrapper = $("<span>")
                            .addClass("custom-combobox")
                            .insertAfter(this.element);

                    this.element.hide();
                    this._createAutocomplete();
                    this._createShowAllButton();
                },
                _createAutocomplete: function () {
                    var selected = this.element.children(":selected"),
                            value = selected.val() ? selected.text() : "";

                    this.input = $("<input>")
                            .appendTo(this.wrapper)
                            .val(value)
                            .attr("title", "")
                            .addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
                            .autocomplete({
                                delay: 0,
                                minLength: 0,
                                source: $.proxy(this, "_source")
                            })
                            .tooltip({
                                tooltipClass: "ui-state-highlight"
                            });

                    this._on(this.input, {
                        autocompleteselect: function (event, ui) {
                            ui.item.option.selected = true;
                            this._trigger("select", event, {
                                item: ui.item.option
                            });
                        },
                        autocompletechange: "_removeIfInvalid"
                    });
                },
                _createShowAllButton: function () {
                    var input = this.input,
                            wasOpen = false;

                    $("<a>")
                            .attr("tabIndex", -1)
                            .attr("title", "Show All Items")
                            .tooltip()
                            .appendTo(this.wrapper)
                            .button({
                                icons: {
                                    primary: "ui-icon-triangle-1-s"
                                },
                                text: false
                            })
                            .removeClass("ui-corner-all")
                            .addClass("custom-combobox-toggle ui-corner-right")
                            .mousedown(function () {
                                wasOpen = input.autocomplete("widget").is(":visible");
                            })
                            .click(function () {
                                input.focus();

                                // Close if already visible
                                if (wasOpen) {
                                    return;
                                }

                                // Pass empty string as value to search for, displaying all results
                                input.autocomplete("search", "");
                            });
                },
                _source: function (request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    response(this.element.children("option").map(function () {
                        var text = $(this).text();
                        if (this.value && (!request.term || matcher.test(text)))
                            return {
                                label: text,
                                value: text,
                                option: this
                            };
//                        console.log('here');
                    }));
                },
                _removeIfInvalid: function (event, ui) {
                    // Selected an item, nothing to do 
                    if (ui.item) {
                        var price_achat = parseFloat($("#combobox :selected").attr('data-price')).toFixed(3);
                        $("#Prix_Achat").val(price_achat);
                        return;

                    }

                    // Search for a match (case-insensitive)
                    var value = this.input.val(),
                            valueLowerCase = value.toLowerCase(),
                            valid = false;
                    this.element.children("option").each(function () {
                        if ($(this).text().toLowerCase() === valueLowerCase) {
                            this.selected = valid = true;

                            return false;
                        }
                    });

                    // Found a match, nothing to do
                    if (valid) {
                        return;
                    }

                    // Remove invalid value
                    this.input
//                	.val( "" )
//                	.attr( "title", value + " didn't match any item" )
//                            .tooltip("open");
                    this.element.val("");
                    this._delay(function () {
//                        this.input.tooltip("close").attr("title", "");
                        angular.element(document.getElementById('NewProduct')).append("<input type='text' id='NewRef' class='form-control' placeholder='Référence Produit'/>");
                        $("#SelectNewTva").show();
//                        $('i[id="addProfile"]').attr('ng-click','ajoutProduct()');
                    }, 500);
                    this.input.autocomplete("instance").term = "";
                },
                _destroy: function () {
                    this.wrapper.remove();
                    this.element.show();
                }
            });
        })(jQuery);

        $(function () {
            $("#combobox").combobox();
            $("#toggle").click(function () {
                $("#combobox").toggle();
            });
        });
    }, 500);
</script>