<style>
    .input-group .select2-container--bootstrap{
        width: 100% !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-turquoise">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a>
                </div>
                <div class="caption">
                    <i class="fa fa-gift"></i>Ajout Commercial
                </div>
                <div class="actions">
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <!--                    <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                                            <i class="fa fa-align-right"></i> Gestion commerciale
                                        </a>-->
                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a>
                </div>
                <!--                <div class="actions">
                                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                                        <i class="fa fa-align-right"></i> Dashboard
                                    </a>
                                    <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                                        <i class="fa fa-align-right"></i> Gestion commerciale
                                    </a>
                                    <a href="#/gestion-commandes-achat" class="btn btn-default btn-sm">
                                        <i class="fa fa-plus"></i> Commandes d'achat
                                    </a>
                                </div>-->
            </div>
            <div class="portlet-body form">
                <form action="#" id="form-username" class="form-horizontal form-bordered">
                    <div class="form-group col-md-6" style="width: 100% !important;">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">Login</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                                <input type="text" id="username" placeholder="Login" name="username" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-4 control-label">Mot de passe</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                                <input type="password" id="password" placeholder="Mot de passe" name="password" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Raison Sociale</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <input type="text" id="raison_social" placeholder="Raison Social" name="raison_social" class="form-control" /> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Nom</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <input type="text" id="last_name" placeholder="Nom Commercial" name="name" class="form-control" /> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Prenom</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <input type="text" id="first_name" placeholder="Prenom Commercial" name="first name" class="form-control" /> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Téléphone</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <input type="text" id="phone" placeholder="Téléphone" name="Telephone" class="form-control" /> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <input type="email" id="email" placeholder="Email" name="email" class="form-control" /> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Adresse</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <input type="text" id="adress" placeholder="Adresse" name="addresse" class="form-control" /> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Ville</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-tag"></i>
                                    </span>
                                    <select class="form-control input-xlarge select2me col-md-12" data-placeholder="Select Ville..." id="villeValue">
                                        <option value=""></option>
                                        <option  value="{{item.Ville.id}}" ng-repeat="item in villes">{{item.Ville.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="form-group col-md-12" style="width: 100% !important; height: 30px !important;">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-actions"> 
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn purple" ng-click="ajoutCommerciale($event)" style="float: right">
                                    <i class="fa fa-check"></i> Ajout</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->