<style>
    .input-group .select2-container--bootstrap{
        width: 100% !important;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<!--<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#/products">Liste Fournisseurs</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Ajout Fournisseur </li>
</ul>-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-turquoise">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a>
                </div>
                <div class="caption">
                    <i class="fa fa-gift"></i>Ajout Fournisseur 
                </div>
                <div class="actions">
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Gestion commerciale
                    </a>
                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" id="form-username" class="form-horizontal form-bordered">
                    <div class="form-group ">
                        <label class="col-sm-3 control-label">Nom Fournisseur</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tags"></i>
                                </span>
                                <input type="text" id="nom" placeholder="Nom Fournisseur" name="nom" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label">Téléphone</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tags"></i>
                                </span>
                                <input type="text" id="phone" placeholder="Téléphone" name="Téléphone" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tags"></i>
                                </span>
                                <input type="email" id="email" placeholder="Email" name="email" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label">Adresse</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tags"></i>
                                </span>
                                <input type="text" id="Adresse" placeholder="Adresse" name="Addresse" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label">TVA</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tags"></i>
                                </span>
                                <input type="text" id="TVA" placeholder="TVA" name="TVA" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label">RIB</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tags"></i>
                                </span>
                                <input type="text" id="RIB" placeholder="RIB" name="RIB" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label">Informations</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tags"></i>
                                </span>
                                <input type="text" id="infos" placeholder="Informations" name="infos" class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn purple" ng-click="ajoutFournisseur($event)" style="float: right">
                                    <i class="fa fa-check"></i> Ajout</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->