<!-- BEGIN PAGE BREADCRUMB -->
<!--<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Liste Commandes </li>
</ul>-->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a>
                </div>
                <div class="caption">
                    <i class="fa fa-cogs"></i>Liste Bon Retour 
                </div>
                <div class="actions">
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Gestion commerciale
                    </a>
                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="clearfix"></div>
                <form class="form-inline" style="float: right">
                    <div class="form-group">
                        <label >Recherche</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Recherche...">
                    </div>
                </form>
                <div class="clearfix"></div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th> Référence Bon Retour </th>
                            <th> BL référence</th>
                            <th> Client </th>
                            <th> Date de Génération </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody style="text-align: left;" id="listBL1">
                        <tr class="odd gradeX" dir-paginate="($index, commande) in listblavoir | filter:search |itemsPerPage:10" id="CommandeRows" data-data-id="{{commande.Commande.id}}" data-user='{{commande.User.id}}' data-receiver='{{commande.Receiver.id}}'>
                            <td>{{commande.Retour.ref}}</td>
                            <td>{{commande.Commande.ref}}</td>
                            <td>{{commande.User.full_name}}</td>
                            <td>{{commande.Retour.modified}}</td>
                            <td>  
                                <ul class="nav nav-pills">
                                    <li>
                                        <div>
                                            <a href="#/view-commande/{{commande.Retour.id}}"  class="btn btn-info btn-sm">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>                                        
                                    </li>
                                </ul> 
                            </td>
                        </tr>
                    </tbody> 
                </table>
                <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true"  style="float: right;top: -28px;position: relative;" class="portlet-body">
                </dir-pagination-controls>
            </div>
            <!--<div class="clearfix"></div>-->
        </div>
        <!-- END EXAMPLE TABLE PORTLET--> 
    </div>
</div>

<script>
    setTimeout(function () {
        console.clear();
    }, 1000);
</script>
<!--<script>
    TableDatatablesManaged.init();
</script>-->
<!-- END MAIN JS -->