<!-- BEGIN PAGE BREADCRUMB -->
<!--<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Liste Retenuss </li>
</ul>-->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a>
                </div>
                <div class="caption">
                    <i class="fa fa-cogs"></i>Liste Retenu à la sourse 
                </div>
                <!--                <div class="actions">
                                    <a href="javascript:;" class="btn btn-default btn-sm">
                                        <i class="fa fa-plus"></i> Add </a>
                                    <a href="javascript:;" class="btn btn-default btn-sm">
                                        <i class="fa fa-print"></i> Print </a>
                                </div>-->
                <div class="actions">
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Gestion commerciale
                    </a>
                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-inline" style="float: right">
                    <div class="form-group">
                        <label >Recherche</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Recherche...">
                    </div>
                </form>
                <div class="clearfix"></div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                            <th> Factures </th>
                            <th> Fournisseur </th>
                            <th> Mantant </th>
                            <th> Date de Génération </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody style="text-align: left;">
                        <tr class="odd gradeX" dir-paginate="($index, retenu) in retenus | filter:search |itemsPerPage:10" id="RetenusRows">
                            <td>
                                <ul ng-repeat="facture in retenu.Facture" class="nav">
                                    <li>{{facture.code_facture}} |</li>
                                </ul>
                                <!--{{retenu.Facture.code_facture}}</td>--> 
                            <td>{{retenu.Fournisseur.name}}</td>
                            <td>{{retenu.Retenus.montant|number:3}}</td>
                            <td>{{retenu.Retenus.date}}</td>
                            <td style="width: 290px;">  
                                <ul class="nav nav-pills">
                                    <li>
                                        <div ng-click="viewRetenu(retenu.Retenus.id)">
                                            <a href="#/view-retenu/{{retenu.Retenus.id}}"  class="btn btn-info btn-sm">
                                                <i class="fa fa-eye fa-2x"></i>
                                            </a>
                                        </div>                                        
                                    </li>
                                </ul> 
                            </td>
                        </tr>
                    </tbody> 
                </table>
                <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true"  style="float: right;top: -28px;position: relative;" class="portlet-body">
                </dir-pagination-controls>
            </div>
            <!--<div class="clearfix"></div>-->
        </div>
        <!-- END EXAMPLE TABLE PORTLET--> 
    </div>
</div>

<script>
    setTimeout(function () {
//        console.clear();
    }, 1000);
</script>
<!--<script>
    TableDatatablesManaged.init();
</script>-->
<!-- END MAIN JS -->