<style>
    .input-group .select2-container--bootstrap{
        width: 100% !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-turquoise">
            <div class="portlet-title">
                <div style="width: 50px;float: left !important;" class="actions">
                    <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
                    </a> 
                </div>
                <div class="caption">
                    <i class="fa fa-gift"></i>Affecter commande à un livreur
                </div>
                <div class="actions"> 
                    <a href="#/dashboard.html" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Dashboard
                    </a>
                    <a href="#/module-transporteur" class="btn btn-default btn-sm">
                        <i class="fa fa-align-right"></i> Transporteur
                    </a>
                    <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i> 
                    </a> 
                </div>  
            </div>
            <div class="portlet-body form">
                <form action="#" id="form-username" class="form-horizontal form-bordered">
                    <div class="form-group col-md-8">
                        <label class="col-md-4 control-label">Livreur : </label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tag"></i>
                                </span>
                                <select class="form-control input-xlarge select2me col-md-12" data-placeholder="Select Livreur..." id="commercialeValue">
                                    <option value=""></option>
                                    <option  value="{{item.Livreur.id}}" ng-repeat="item in livreurs">{{item.Livreur.full_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group col-md-8">
                        <label class="control-label col-md-4">Date de livraison : </label>
                        <div class="col-md-8">
                            <div class="input-group input-medium date date-picker" style="width: 100% !important;" data-date="" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                                <!--<input type="date" id="DateLivraison" class="form-control" placeholder="Date de livraison">-->
                                <input type="text" id="DateLivraison" class="form-control" placeholder="Date De livraison" readonly>
                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-actions"> 
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn purple" ng-click="affecterLivreur($event)" style="float: right">
                                    <i class="fa fa-check"></i> Affecter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
//    setTimeout(function () {
    setTimeout(function () {
        $('#DateLivraison').datepicker({
            altField: "#DateLivraison",
            closeText: 'Fermer',
            prevText: 'Précédent',
            nextText: 'Suivant',
            currentText: 'Aujourd\'hui',
            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            weekHeader: 'Sem.',
            dateFormat: "dd-mm-yy"});
    }, 1000);
//    }, 500);

</script>
