<!-- BEGIN PAGE BREADCRUMB -->
<style>
    .print{display: none !important;}
    .no-print .table-bordered>tbody>tr>td,.no-print .table-bordered>tbody>tr>th,.no-print .table-bordered>tfoot>tr>td,.no-print .table-bordered>tfoot>tr>th, .no-print .table-bordered>thead>tr>td, .no-print .table-bordered>thead>tr>th {
        border: 1px solid #e7ecf1;
        font-size: 12px !important;
        font-weight: 600;
    }
    @media print and (color) {
        #footer{ 
            display: block !important;
            font-size: 9px !important;
        }
        .print{display: block !important;}
        .Condition{display: none !important;}
        .PourcentageDevis{display: none !important;}
        .merci{display: none !important;}
        @page{
            size: A4 portrait !important;
        }
        .merci{margin-left: 30px !important;}
        .block_signature{position: relative;left: 180px !important;}
        .validation strong{display: none !important;}
        .validation h4{display: none !important;}
        .colorTR{background: #F2F2F2 !important;}
        .colorTR td{background: #F2F2F2 !important; text-align: center !important;}
        .colorTR th{background: #F2F2F2 !important;}
        .DateFacture strong{color: #26619c !important;}
        #footer .Condition {
            display: none;
        } 
        #footer{left: 70px !important;}
    }
    table th{text-align: center !important;}
</style>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="portlet box green-turquoise no-print">
    <div class="portlet-title no-print">
        <div style="width: 50px;float: left !important;" class="actions">
            <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i> 
            </a>
        </div>
        <div class="actions">
            <a class="no-print btn btn-success btn-sm" style="margin-right: 10px;background-color: transparent;border-color: #fff;" onclick=""><i class="fa fa-send-o"></i> Envoyer par mail </a>
            <a class="no-print btn btn-success btn-sm" style="margin-right: 10px;background-color: transparent;border-color: #fff;" onclick="print('block_border')"><i class="fa fa-print"></i> Imprimer </a>
            <button class="no-print btn btn-primary btn-sm" style="background-color: transparent;border-color: #fff;" onclick="generatePDF()"><i class="fa fa-file-pdf-o"></i> Exporter en PDF </button>
            <a href="#/dashboard.html" class="btn btn-default btn-sm">
                <i class="fa fa-align-right"></i> Dashboard
            </a>
            <a href="#/app-gestion-commercials" class="btn btn-default btn-sm">
                <i class="fa fa-align-right"></i> Gestion commerciale
            </a>
            <a href="javascript:history.go(+1)" class="btn btn-default btn-sm">
                <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>  
            </a>
        </div>
    </div>
</div>
<div class="main-content print" id="block_border">
    <div class="main-content-inner">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="col-md-12 portlets" style="width: 100%;margin: -10px 10px 10px 10px; background: #fff;">
                <h3 class="rotationBlock" style="color: #24445c; position: absolute !important;" ng-controller="ErpCtrl"><strong>FACTURE: {{ref3}}- {{count}}</strong>
                </h3>
                <div class="panel-header panel-controls"> 
                    <h3 class="text-center DateFacture" style="color: #24445c;"><strong my-current-time="formatCreated"></strong></h3>
                    <div class="col-xs-5 PrintBlock">
                        <div  class="image" style="margin-left: 53px;">
                            <img src='http://api.colisexpress.tn/img/logo/{{config.Configuration.logo}}' class="pull-left img-responsive logo-amyevolut" style="max-width:150px;margin-left: 15px;" />
                        </div>
                        <div class="clearfix"></div>
                        <div style="margin-top: -15px !important;" class=" text-center">
                            <h3 style="color:#26619c;font-size: 15px;"> 
                                <strong> {{config.Configuration.raison_social}} </strong>
                            </h3>  
                            <address class="text-center" style="font-size: 12px;">
                                <!--<strong style="color:#26619C;"> {{config.Configuration.raison_social}} </strong><br>-->
                                <strong style="color:#26619C;"> {{config.Configuration.telephone_1}} </strong><br>
                                <strong style="color:#26619C;"> {{config.Configuration.telephone_2}} </strong><br>
                                <strong style="color:#26619C;"> {{config.Configuration.telephone_3}} </strong><br>
                                <strong style="color:#26619C;"> {{config.Configuration.email}} </strong><br> 
                            </address>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-4"></div>
                    <div class="col-xs-5 col-md-4 PrintBlock raisonSocial pull-right" style="font-size: 11px;margin-top: 80px;"> 
                        <address  class="PrintBlock" style="padding-left: 55px; color:#26619c;">
                            <span style="line-height: 10px;">Non commercial </span><strong>{{facturecommandes.User.nom_commercial}} {{facturecommandes.User.raison_social}}</strong><br>
                            <span style="line-height: 10px;">Nom et Prenom </span><strong>{{facturecommandes.User.full_name}}</strong><br>
                            <span style="line-height: 10px;">Adresse: </span><strong>{{facturecommandes.User.adress}}</strong><br>
                            <span style="line-height: 10px;">Code postal: </span><strong>{{facturecommandes.User.postal}}<span style="line-height: 10px;">   Ville: </span>{{facturecommandes.User.Ville.name}}</strong><br>
                            <span style="line-height: 10px;">Email: </span> <strong>{{facturecommandes.User.email}}</strong><br>
                            <span style="line-height: 10px;">Contact: +(216) </span> <strong>{{facturecommandes.User.phone}}</strong>
                        </address>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--<p class="Object"><strong>Objet de Facture: </strong>{{facturecommandes.Facture.object}}</p>-->
                <div class="panel-content">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr style="background: #F2F2F2" class="colorTR">
                                <th>Désignation du Colis</th>
                                <th>Quantité</th>
                                <th>Prix Unitaire</th>
                                <th>Montant HT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in livraison">
                                <td>{{item.code_facture}}</td>
                                <td>{{item.qte}}</td>
                                <td>{{item.montant}}</td>
                                <td>{{item.totalHT}}</td>
                                <!--<td ng-if="item.isContreRembourcement == false || item.isContreRembourcement == 'false'">{{item.frais_livraison}}</td>-->
                                <!--<td></td>-->
                            </tr>
                            <tr ng-if="annulation.length > 0" style="background: #F2F2F2" class="colorTR">
                                <td colspan="4"><strong>Les Annulations</strong></td>
                            </tr>
                            <tr ng-repeat="item in annulation" ng-if="annulation.length > 0">
                                <td>{{item.code_facture}}</td>
                                <td>{{item.qte}}</td>
                                <td>{{item.montant}}</td>
                                <td>{{item.totalHT}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Total colis</strong></td>
                                <td>{{totalColis}} </td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Frais de livraison HT</strong></td>
                                <td> {{totalFraisLivraison}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Total Tva {{facturecommandes.Tva.name}}</strong></td>
                                <td>{{totalTvaLivraison}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Frais de livraison TTC</strong></td>
                                <td>{{totalFraisLivraisonTTC}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Timbre Fiscal</strong></td>
                                <td>{{config.Configuration.price_timbre| number:3}}</td>
                            </tr>
                            <tr ng-if="facturecommandes.FacturesCommande.ajustement != 0">
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Ajustement Facture</strong></td>
                                <td>{{facturecommandes.FacturesCommande.ajustement| number:3}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>NET À PAYER TTC</strong></td>
                                <td>{{totalNet - ( - config.Configuration.price_timbre) | number:3}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <!--<span style="text-decoration: line-through;">{{total_ttc - total_ht| number:3}} </span>-->
                <div style="margin-top: 100px;font-size: 12px; position: relative; left: -20px !important;" class="validation">
                    <p class="text-left displayBlock" style="display: none;  width: 450px !important; margin-left: 200px !important; margin-top: 0px !important;">* Arrêté la pésente facture à la somme de {{totalFinalText}} TTC </p>

                </div>
                <p class="text-center SommeText" >Arrêté la présente facture à la somme de {{totalFinalText}} TTC </p>
                <!--<p class="text-center">Arrêté le présent facture à la somme de {{totalFinal[0]| words}} Dinars et {{totalFinal[1]| words}} Millimes TTC </p>-->
                <div class="footerCommande">
                    <div class="col-xs-12 PourcentageDevis " style="margin-left: 35px;">
                        <div style="border: 1px solid #95d5f5; margin-left: -50px;margin-top: 10px; color: #2E8B57; " class="col-xs-6 PourcentageDevis col-md-4 block_border border-color">
                            * RIB BANCAIRE: {{config.Configuration.rib}}<br>
                            * {{config.Configuration.banque}}<br>
                            * IBAN: {{config.Configuration.iban}}<br>
                            * CODE SWIFT: {{config.Configuration.swift}}
                        </div>
                        <!--<div class="col-md-3"> </div>-->

                        <div style="border: 1px solid #95d5f5; width: 242px;height: 95px;margin-top: 10px; margin-right: 55px;" class="col-xs-4 pull-right text-center block_border">
                            <span style="position: relative; top: 78%;  color: #2E8B57;"> Signature Client</span>
                        </div>
                    </div>
                    <div class="text-center merci" style=" color: #2E8B57;top: 18px; position: relative;"> 
                        En cas d'accord de la présente facture, merci de nous le retouner signé et cacheté.
                    </div>
                    <div>
                        <address class="text-center no-print" style=" top: 25px; position: relative; font-size: 10px;height: 80px;" >
                            {{config.Configuration.name}}<br>
                            RC: {{config.Configuration.rc}} M.F: {{config.Configuration.matricule_fiscale}}<br>
                            Siége Social: {{config.Configuration.siege}}  Agence: {{config.Configuration.agence}}<br>
                            {{config.Configuration.email}}  Tel: +(216) {{config.Configuration.telephone_2}}  +(33) {{config.Configuration.telephone_3}}<br>
                        </address>        
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="cb no-print"></div><br>
</div>
<div class="main-content no-print" id="block_border">
    <div class="main-content-inner">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="col-md-12 portlets" style="width: 100%;margin-top: -25px; background: #fff;">
                <h3 class="rotationBlock" style="color: #24445c; position: absolute !important;margin-top: -30px !important;" ng-controller="ErpCtrl"><strong>FACTURE: {{ref3}}- {{count}}</strong>
                </h3>
                <div class="panel-header panel-controls"> 
                    <h3 class="text-center DateFacture" style="color: #24445c;"><strong my-current-time="formatCreated"></strong></h3>
                    <div class="col-xs-5 PrintBlock">
                        <div  class="image" style="margin-left: 53px;">
                            <img src='http://api.colisexpress.tn/img/logo/{{config.Configuration.logo}}' class="pull-left img-responsive logo-amyevolut" style="max-width:150px;margin-left: 15px;" />
                        </div>
                        <div class="clearfix"></div>
                        <div style="margin-top: -15px !important;" class=" text-center">
                            <h3 style="color:#26619c;font-size: 15px;"> 
                                <strong> {{config.Configuration.raison_social}} </strong>
                            </h3>  
                            <address class="text-center" style="font-size: 12px;">
                                <!--<strong style="color:#26619C;"> {{config.Configuration.raison_social}} </strong><br>-->
                                <strong style="color:#26619C;"> {{config.Configuration.telephone_1}} </strong><br>
                                <strong style="color:#26619C;"> {{config.Configuration.telephone_2}} </strong><br>
                                <strong style="color:#26619C;"> {{config.Configuration.telephone_3}} </strong><br>
                                <strong style="color:#26619C;"> {{config.Configuration.email}} </strong><br> 
                            </address>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-4"></div>
                    <div class="col-xs-5 col-md-4 PrintBlock raisonSocial pull-right" style="font-size: 11px;margin-top: 80px;"> 
                        <address  class="PrintBlock" style="padding-left: 55px; color:#26619c;line-height: 19px;">
                            <span style="line-height: 10px; font-weight: 600; font-size: 14px;">Client : </span><br>
                            <span style="line-height: 10px;">Nom et Prenom : </span><strong>{{facturecommandes.User.full_name}}</strong><br>
                            <span style="line-height: 10px;">Adresse : </span><strong>{{facturecommandes.User.adress}}</strong><br>
                            <span style="line-height: 10px;">Code postal : </span><strong>{{facturecommandes.User.postal}}<span style="line-height: 10px;">   Ville : </span>{{facturecommandes.User.Ville.name}}</strong><br>
                            <span style="line-height: 10px;">Email : </span> <strong>{{facturecommandes.User.email}}</strong><br>
                            <span style="line-height: 10px;">Contact : +(216) </span> <strong>{{facturecommandes.User.phone}}</strong>
                        </address>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--<p class="Object"><strong>Objet de Facture: </strong>{{facturecommandes.Facture.object}}</p>-->
                <div class="panel-content">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr style="background: #F2F2F2" class="colorTR">
                                <th>Désignation du Colis</th>
                                <th>Quantité</th>
                                <th>Prix Unitaire</th>
                                <th>Montant HT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in livraison">
                                <td>{{item.code_facture}}</td>
                                <td>{{item.qte}}</td>
                                <td>{{item.montant}}</td>
                                <td>{{item.totalHT}}</td>
                                <!--<td ng-if="item.isContreRembourcement == false || item.isContreRembourcement == 'false'">{{item.frais_livraison}}</td>-->
                                <!--<td></td>-->
                            </tr>
                            <tr ng-if="annulation.length > 0" style="background: #F2F2F2" class="colorTR">
                                <td colspan="4"><strong>Les Annulations</strong></td>
                            </tr>
                            <tr ng-repeat="item in annulation" ng-if="annulation.length > 0">
                                <td>{{item.code_facture}}</td>
                                <td>{{item.qte}}</td>
                                <td>{{item.montant}}</td>
                                <td>{{item.totalHT}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Total colis</strong></td>
                                <td>{{totalColis}}  </td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Frais de livraison HT</strong></td>
                                <td>{{totalFraisLivraison}} </td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Total Tva {{facturecommandes.Tva.name}}</strong></td>
                                <td>{{totalTvaLivraison}} </td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Frais de livraison TTC</strong></td>
                                <td>{{totalFraisLivraisonTTC}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Timbre Fiscal</strong></td>
                                <td>{{config.Configuration.price_timbre| number:3}}</td>
                            </tr>
                            <tr ng-if="facturecommandes.FacturesCommande.ajustement != 0">
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>Ajustement Facture</strong></td>
                                <td>{{facturecommandes.FacturesCommande.ajustement| number:3}}</td>
                            </tr>
                            <tr>
                                <td class='factureNone' style="border-left: 1px solid #fff !important;border-top: 1px solid #fff !important;border-bottom:  1px solid #fff !important;"  colspan='2'></td>
                                <td class='text-right'><strong>NET À PAYER TTC</strong></td>
                                <td>{{totalNet - ( - config.Configuration.price_timbre) | number:3}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div style="margin-top: 100px;font-size: 12px; position: relative; left: -20px !important;" class="validation">
                    <p class="text-left displayBlock" style="display: none;  width: 450px !important; margin-left: 250px !important; margin-top: 0px !important;">* Arrêté la pésente facture à la somme de {{totalFinalText}} TTC </p>

                </div>
                <p class="text-center SommeText" >Arrêté la présente facture à la somme de {{totalFinalText}} TTC </p>
                <!--<p class="text-center">Arrêté le présent facture à la somme de {{totalFinal[0]| words}} Dinars et {{totalFinal[1]| words}} Millimes TTC </p>-->
                <div class="footerCommande">
                    <div>
                        <address class="text-center no-print" style="top: 25px;font-weight: 600; position: relative; font-size: 11px;margin-bottom: 45px;" >
                            {{config.Configuration.name}}<br>
                            RC: {{config.Configuration.rc}} M.F: {{config.Configuration.matricule_fiscale}}<br>
                            Siége Social: {{config.Configuration.siege}}  Agence: {{config.Configuration.agence}}<br>
                            {{config.Configuration.email}}  Tel: +(216) {{config.Configuration.telephone_2}}  +(33) {{config.Configuration.telephone_3}}<br>
                        </address>        
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="cb no-print"></div><br>
</div>
<script>
    var userAgent = navigator.userAgent;
    if (userAgent.indexOf("Chrome") > -1) {
        //Add Print for Chrome
        $("head").append(" <link href='" + base_url() + "assets/pages/css/print_chrome.css' rel='stylesheet' type='text/css' />")
    }
    if (userAgent.indexOf("Firefox") > -1) {
        //Add Print for Firefox
        $("head").append(" <link href='" + base_url() + "assets/pages/css/print_firefox.css' rel='stylesheet' type='text/css' />")

    }
    if (userAgent.indexOf("Firefox") === -1 && userAgent.indexOf("Chrome") === -1) {
        //Add Print for Any Browser
        $("head").append(" <link href='" + base_url() + "assets/pages/css/print_other.css' rel='stylesheet' type='text/css' />")
    }
//            setTimeout(function(){
//            var ifPageBreak = $("#listItem tr:eq(9)").length;
//                    if (ifPageBreak === 1) {
//            $("#listItem tr:eq(9)").attr('class', 'ng-scope page-break');
//            }
//            },1000);
//var ifRefresh = sessionStorage.getItem('ifRefresh');
//var currentUrl = document.location.href;
//console.log(ifRefresh);
//console.log(ifRefresh == null);
//console.log(ifRefresh === null);
//console.log(ifRefresh === 'null');
//if (ifRefresh == null || ifRefresh === 'null'){
//    document.location.reload(currentUrl);
//    sessionStorage.setItem('ifRefresh', 'refreshed');
//}
</script>
